
{% extends "base.html" %}
{% load static %}
{% block title %}
หน้าแรก
{% endblock %}

{% block content %}

<section>
    <!-- <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center m-1">
                <img src = "{% static 'images/home.png' %}" style="max-width: 95%;"/> 
            </div>
        </div>
    </div> -->
    
    
  </section>
  <!-- Header Section bg-light -->
  <header class=" text-center py-5" style="color: #333;">
    <div class="container">
      <h1 style="font-size: 60px; color: #343a40; font-weight: bold; line-height: 1.2;">เลือกลีก</h1>
      <!-- <p class="lead" style="font-size: 24px; color: #6c757d; font-weight: 300;">ผลบอลออนไลน์</p> -->
    </div>
  </header>
  
  <!-- Card Section -->
  <section class="py-5">
    
    <div class="container">
      <div class="row">{% for league in all_leagues %}
        <!-- Card 1 -->
        <div class="col-lg-3 col-md-4 col-sm-6  mb-4"><a href="/tablesleagues/{{ league.league_id_last }}">
          <div class="card h-100 shadow-sm rounded">
            <div class="row d-flex justify-content-center py-4">
                <!-- <div class="col-11">
                  <img src="{% static 'images/leagues/' %}{{ league.image }}" class="card-img-top" alt="Image">
                </div> -->
                <div class="col-11">
                  <img src="{{ league.image_url }}" class="card-img-top" alt="Image">
                </div>
            </div>
            <div class="card-body d-flex justify-content-center">
                <div class="row">
                  <div class="col text-center">
                    <h4 class="card-title h4">{{ league.name }}</h4>
                    <p class="card-text">{{ league.country }}</p>
                  </div>
                </div>
            </div>
          </div></a>
        </div>{% endfor %}
      </div>
    </div>
    
  </section>
  <!-- <ul>
    <li>AAAAAAA</li>
  {% for user in users %}
  <li>{{ user.home_team }} , {{ user.home_score }}</li>
{% endfor %}</ul> -->
{% endblock %}