
  {% extends "base.html" %}
  {% load static %}
  {% block title %}
  ผลฟุตบอล
  {% endblock %}
  
  {% block content %}
  <style>
          .nav-button {
            color: #4caf50;
            transition: color 0.2s ease;
        }
        .nav-button:hover {
            color: #388e3c;
        }

        .btn-secondary {
            background-color: #4caf50;
            border: none;
            transition: background-color 0.2s ease;
        }
        .btn-secondary:hover {
            background-color: #388e3c;
        }

  </style>

  
  
  <div class="container">
    <section class="match__livescore">
      <div class="container">
        <div class="row py-5 d-flex justify-content-center">

        
        <div class="row col-8 align-items-center d-flex justify-content-center">
          <div class="col-4 d-flex flex-column">
              <div class="d-flex align-items-center">
                  <figure class="me-3">
                      <img src="{{ data.home_image_url}}" style="height: 200px;"  class="img-fluid">
                      <figcaption class="text-center">{{data.home_name}}</figcaption>
                  </figure>
              </div>
          </div>
              <div class="col-4 d-flex flex-column align-items-center">
                  <p id="18825137" class="match__status MatchST_ft"></p>
                  <div class="p-2 rounded border shadow text-center" style="font-size: 2rem;">
                      <strong class="match__score__final h1">{{data.home_goal_count}} - {{data.away_goal_count}}</strong>
                  </div>
              </div>
  
              <div class="col-4 d-flex flex-column">
                <div class="d-flex align-items-center">
                    <figure class="me-3">
                        <img src="{{data.away_image_url}}" style="height: 200px;" class="img-fluid">
                        <figcaption class="text-center">{{data.away_name}}</figcaption>
                    </figure>
                </div>
            </div>
        </div>
      </div>    </div>
  </section>
  
      
      <section class="my-5">
          <div class="container">
              <h2 class="text-center mb-4">Match Details</h2>
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>Stat</th>
                          <th>{{data.home_name}}</th>
                          <th>{{data.away_name}}</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr><td>pre_match_overall_ppg</td><td>{{data.pre_match_teamA_overall_ppg}}</td><td>{{data.pre_match_teamB_overall_ppg}}</td></tr>
                    <tr><td>pre_match_ppg</td><td>{{data.pre_match_home_ppg}}</td><td>{{data.pre_match_away_ppg}}</td></tr>
                    <tr><td>ppg</td><td>{{data.home_ppg}}</td><td>{{data.away_ppg}}</td></tr>

                      <tr><td>Goals</td><td>{{data.home_goal_count}}</td><td>{{data.away_goal_count}}</td></tr>
                      <tr><td>yellow_cards</td><td>{{data.team_a_yellow_cards}}</td><td>{{data.team_b_yellow_cards}}</td></tr>
      <tr><td>red_cards</td><td>{{data.team_a_red_cards}}</td><td>{{data.team_b_red_cards}}</td></tr>
      <tr><td>dangerous_attacks</td><td>{{data.team_a_dangerous_attacks}}</td><td>{{data.team_b_dangerous_attacks}}</td></tr>
      <tr><td>attacks</td><td>{{data.team_a_attacks}}</td><td>{{data.team_b_attacks}}</td></tr>
      <tr><td>xg</td><td>{{data.team_a_xg}}</td><td>{{data.team_b_xg}}</td></tr>
      <tr><td>penalties_won</td><td>{{data.team_a_penalties_won}}</td><td>{{data.team_a_penalties_won}}</td></tr>
      <tr><td>penalty_goals</td><td>{{data.team_a_penalty_goals}}</td><td>{{data.team_b_penalty_goals}}</td></tr>
      <tr><td>penalty_missed</td><td>{{data.team_a_penalty_missed}}</td><td>{{data.team_b_penalty_missed}}</td></tr>
      <tr><td>throwins</td><td>{{data.team_a_throwins}}</td><td>{{data.team_b_throwins}}</td></tr>
      <tr><td>freekicks</td><td>{{data.team_a_freekicks}}</td><td>{{data.team_b_freekicks}}</td></tr>
      <tr><td>goalkicks</td><td>{{data.team_a_goalkicks}}</td><td>{{data.team_b_goalkicks}}</td></tr>

                  </tbody>
              </table>
          </div>
      </section>

      {% if get_team %}
      <section class="my-5">
        <div class="container">
            <h2 class="text-center mb-4">รายละเอียดทีม</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ข้อมูล</th>
                        <th>{{data.home_name}}</th>
                        <th>{{data.away_name}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in teams.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value.0 }}</td>
                <td>{{ value.1 }}</td>
            </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
      {% endif %}
  
      <section class="my-5">
          <div class="container">
              <h2 class="text-center mb-4">Game Information</h2>
              <table class="table table-striped table-hover">
                  <tbody>
                      <!-- <tr><td>Winning Team</td><td>{{data.winning_team}}</td></tr> -->
                      <tr><td>สถานะเกม</td><td>{{data.status}}</td></tr>
                      <tr><td>season</td><td>{{data.season}}</td></tr>
                      <!-- <tr><td>league_id</td><td>{{data.league_id}}</td></tr> -->
                      
                      <tr><td>game_week</td><td>{{data.game_week}}</td></tr>
                      
                      <tr><td>สนาม</td><td>{{data.stadium_name}}</td></tr>
                      
                      <tr><td>วันที่</td><td>{{data.date_unix_thai}}</td></tr>
                      <tr><td>เวลา</td><td>{{data.time_unix}} น.</td></tr>
                      <!-- <tr><td>winning_team</td><td>{{data.winning_team}}</td></tr> -->
                  </tbody>
              </table>
          </div>
      </section>
  
  </div>
  
  {% endblock %}
  