
{% extends "base.html" %}
{% load static %}
{% block title %}
ผลฟุตบอล
{% endblock %}

{% block content %}
<style>
          .nav-button {
            color: #4caf50;
            transition: color 0.2s ease;
        }
        .nav-button:hover {
            color: #388e3c;
        }

        .btn-secondary {
            background-color: #4caf50;
            border: none;
            transition: background-color 0.2s ease;
        }
        .btn-secondary:hover {
            background-color: #388e3c;
        }
</style>
<section>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center m-1">
                <!-- <img src = "{% static 'images/home.png' %}" style="max-width: 95%;"/>  -->
            </div>
        </div>
    </div>
    
    
  </section>
  <!-- Header Section bg-light -->
  <header class=" text-center py-5" style="color: #333;">
    <div class="container">
      <h3 style="font-size: 40px; color: #343a40; font-weight: bold; line-height: 1.2;">ผลบอลวันนี้</h3>
      <!-- <p class="lead" style="font-size: 24px; color: #6c757d; font-weight: 300;">ผลบอลออนไลน์</p> -->
    </div>
  </header>
  <section>
    <div class="container">
      <nav class="d-flex justify-content-between my-4">
        <a href="/tablestoday/{{date_bf}}"><button class="btn btn-link nav-button">
              <i class="fas fa-chevron-left"></i> {{date_bf_th}}
          </button></a>
          <button class="btn btn-secondary" style="background-color: #328b8b;">
              <i class="fas fa-calendar-day"></i> {{date_th}}
          </button>
          <a href="/tablestoday/{{date_af}}"><button class="btn btn-link nav-button">
            {{date_af_th}} <i class="fas fa-chevron-right"></i>
          </button></a>
      </nav>

  </div>
  </section>

  <section>
    <div class="container"><div class="row">
          <div class="col">
              <div class="table">
                <table class="table table-hover">
                  {% for date in data %}
                  
                  <thead class="table">
                    <tr><td><br/></td></tr>
                    <tr class="py-3 my-3">
                        <th colspan="5">{{date.0.name}}</th>
                    </tr>
                </thead>
                
                      <thead>
                          <tr>
                              <th>เวลา</th>
                              <th>ทีมเจ้าบ้าน</th>
                              <th>ผลบอล</th>
                              <th>ทีมเยือน</th>
                              <th>Status</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for league in date %}
                              <tr>
                                  <td>{{league.time_unix}}</td>
                                  <td>{{league.home_name}}</td>
                                  <td class="text-center">
                                    <a href="/matchdetail/{{league.league_id}}/{{league.match_id}}" class="text-decoration-none {% if league.home_goal_count > league.away_goal_count %}text-success bg-light p-2 rounded{% elif league.home_goal_count < league.away_goal_count %}text-danger bg-light p-2 rounded{% else %}text-dark{% endif %}" style="font-weight: bold; font-size: 1.2em;">
                                        {{league.home_goal_count}} - {{league.away_goal_count}}
                                    </a>
                                </td>
                                
                                  <td>{{league.away_name}}</td>
                                  <td>
                                      {% if league.status == 'complete' %}
                                          <span class="badge bg-success">{{league.status}}</span>
                                      {% else %}
                                          <span class="badge bg-warning">{{league.status}}</span>
                                      {% endif %}
                                  </td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  {% endfor %}
              </table>
              
              </div>
          </div>
      </div>
  </div>
  </section>
{% endblock %}