
body {
    font-family: 'K2D', sans-serif;
    color: #333;
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
  .card {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #f2f2f2, #ffffff);
    
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid #007bff; /* Blue border color */
  }

  .card-title {
    font-size: 24px;
    color: #333333;
    text-align: center;
  }

  .card-text {
    font-size: 18px;
    color: #777777;
    text-align: center;
  }

  /* Footer styling */
  .footer-section {
    background-color: #004445;
    color: #fff;
  }

  .menu-icon {
    color: white;
  }

  /* Additional styles for centering the navbar */
  .navbar-nav {
    justify-content: center;
  }

  /* Make brand and nav links in one line and center */
  .navbar .container {
    display: flex;
    justify-content: center;
  }

  /* Make brand and nav links in one line and center */
  .navbar-toggler {
    order: 1;
  }

  /* Make brand and nav links in one line and center */
  .navbar-brand {
    order: 0;
  }

  /* Make brand and nav links in one line and center */
  .navbar-collapse {
    order: 2;
  }

  #date1{
    background-color: #004445;
  }

  .table-responsive {
    margin-top: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}
.table thead th {
    background-color: #005759   ;
    color: white;
}