{% extends 'base.html' %}
{% block title %}
Setting
{% endblock %}
{% block content %}

{{user}}
<a class="col-12" href="{% url  'users' %}">
    <button type="button" class="btn btn-primary">All admins</button>
</a>
<a class="col-12" href="{% url  'register' %}">
    <button type="button" class="btn btn-primary">Add admin</button>
</a>
<a class="col-12" href="{% url  'logout' %}">
    <button type="button" class="btn btn-primary">Logout</button>
</a>
<div class="row d-flex justify-content-center p-3">
    <div class="col-sm-6 col-md-6 col-lg-6">
<form method="post" class="form-control" action="{% url  'setting' %}" method = "POST">
    {% csrf_token %}

    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field}}
        </div>
    {% endfor %}


    <input type="submit" value="Save" class="btn btn-primary">
</form></div>
</div>


{% endblock %}
