{% extends 'baseadmin.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="p-3">รายชื่อ Admin</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Date Joined</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
                <form action="{% url 'delete_user' user.id %}" method="post">
                    {% csrf_token %}
                    <input onclick="return confirmDelete();" type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this user?");
    }
    </script>

{% endblock %}
